{% set page_title = 'Dodaj fakture' %}
{% extends 'app_base.html.twig' %}

{% block body %}
    <div class="content-app">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Dodaj fakture</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'attr': { 'id': 'add-form-invoice' } }) }}
                        <div class="form-group hidden">
                            {{ form_errors(form.contractor_id) }}
                            {{ form_label(form.contractor_id) }}
                            {{ form_widget(form.contractor_id, {value: customerId}) }}
                        </div>
                        <div class="inline-input">
                            <div class="form-group width-50">
                                {{ form_errors(form.invoiceNumber) }}
                                {{ form_label(form.invoiceNumber) }}
                                {{ form_widget(form.invoiceNumber, {'attr': {'readonly': true}}) }}
                            </div>
                            <div class="form-group width-50">
                                {{ form_errors(form.nip) }}
                                {{ form_label(form.nip) }}
                                {{ form_widget(form.nip, {'attr': {'readonly': true}, value: customerNip}) }}
                            </div>
                        </div>
                        <div class="inline-input">
                            <div class="form-group width-50">
                                {{ form_errors(form.customer) }}
                                {{ form_label(form.customer) }}
                                {{ form_widget(form.customer, {value: customerName}) }}
                                <ul id="matchList" class="search-ajax-list"></ul>
                                <div id="match"></div>
                            </div>
                            <div class="form-group width-50">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Dodaj odbiorcę z poza twojej bazy
                                </button>
                            </div>
                        </div>

                        <div class="inline-input">
                            <div class="form-group width-50">
                                {{ form_errors(form.paymentMethod) }}
                                {{ form_label(form.paymentMethod) }}
                                {{ form_widget(form.paymentMethod) }}
                            </div>
                            <div class="form-group width-50">
                                {{ form_errors(form.paid) }}
                                {{ form_label(form.paid) }}
                                {{ form_widget(form.paid) }}
                            </div>
                        </div>

                        <div class="inline-input">

                            <div class="form-group width-33">
                                <div class="span5 sandbox-container">
                                    {{ form_errors(form.dateOfIssue) }}
                                    {{ form_label(form.dateOfIssue) }}
                                    <div class="input-group date">
                                        {{ form_widget(form.dateOfIssue) }}
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group width-33">
                                <div class="span5 sandbox-container">
                                    {{ form_errors(form.saleDate) }}
                                    {{ form_label(form.saleDate) }}
                                    <div class="input-group date">
                                        {{ form_widget(form.saleDate) }}
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group width-33">
                                <div class="span5 sandbox-container">
                                    {{ form_errors(form.dateOfPayment) }}
                                    {{ form_label(form.dateOfPayment) }}
                                    <div class="input-group date">
                                        {{ form_widget(form.dateOfPayment) }}
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="items-error"></div>
                        <div class="form-group" id="items-list" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
                            <a href="#" id="add-item" class="btn btn-primary">Dodaj przedmiot</a>
                            {% for item in form.items %}
                                <div class="item-div">
                                    {{ form_errors(item) }}
                                    {{ form_widget(item, { 'attr': { 'class': 'invoice-item-gulp w' } }) }}
                                </div>
                            {% endfor %}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title inline" id="exampleModalLabel">Dodaj odbiorcę</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="customer-name">Nazwa odbiorcy</label>
                        <input class="form-control validate[required]" type="text" name="customer-name" id="customer-name">
                    </div>
                    <div class="form-group">
                        <label for="customer-nip">Nip</label>
                        <input class="form-control validate[required, custom[nip]]" type="text" name="customer-nip" id="customer-nip">
                    </div>
                    <div class="form-group">
                        <label for="customer-zip-code">Kod pocztowy</label>
                        <input class="form-control validate[required, custom[zip]]" type="text" name="customer-zip-code" id="customer-zip-code">
                    </div>
                    <div class="form-group">
                        <label for="customer-city">Miejscowośc</label>
                        <input class="form-control validate[required]" type="text" name="customer-city" id="customer-city">
                    </div>
                    <div class="form-group">
                        <label for="customer-street">Ulica</label>
                        <input class="form-control validate[required]" type="text" name="customer-street" id="customer-street">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save-customer">Zapisz</button>
                    <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/invoice/ajaxActions.js') }}"></script>
    <script src="{{ asset('js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('js/jquery.validationEngine-pl.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>

    <script>

        $('#add-form-invoice').validationEngine();
        $('#exampleModal').validationEngine();

        $('.sandbox-container .input-group.date').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            language: "pl",
            todayHighlight: true,
            autoclose: true,
        });

        var itemCount = '{{ form.items|length }}';

        if(itemCount > 0)
            for (i = 0; i < itemCount.length; i++)
                addTagFormDeleteLink($("#appbundle_invoice_items_"+i));
        
        $("#add-form-invoice").submit(function () {
            if ($("#items-list > div.item-div").length < 1){
                $("#items-error").html("<p class='alert alert-danger'>Musisz dodać przedmiot</p>");
                return false;
            }
        });
        $('#add-item').click(function(e) {

            e.preventDefault();

            var itemsList = $('#items-list');

            var newWidget = itemsList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, itemCount);
            // create a new list element and add it to the list
            // var newLi = $('<div class="item-div" id='+itemCount+'></div>').html('<ul id="matchItems"  class="search-ajax-list"></ul><div id="matchForList"></div>' + newWidget);
            var newLi = $('<div class="item-div" id='+itemCount+'></div>').html('<div id="matchForList" data-count='+itemCount+'></div>' +newWidget);
            newLi.appendTo(itemsList);
            addTagFormDeleteLink(newLi);
            itemCount++;
        });

        $(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#items-list');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('div.item-div').each(function() {
                addTagFormDeleteLink($(this));
            });

            // ... the rest of the block from above
        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="btn btn-danger btn-remove-item"><i class="glyphicon glyphicon-trash"></i> Usuń przedmiot</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $("#add-form-invoice").submit(function () {

            if ($("#appbundle_invoice_contractor_id").val() && ($("#appbundle_invoice_contractor_id").val() != '') && ($("#appbundle_invoice_contractor_id").val() >= 0)){
                return true;
            }

            var outPut = "<p class='alert alert-danger'>Należy wybrać kontrahenta z listy podczas wyszukiwania</p>";
            $("#match").append(outPut);

            return false;
        });
    </script>

{% endblock javascript %}