{% set page_title = 'Faktury' %}
{% extends 'app_base.html.twig' %}

{% block body %}

    <div class="content-app">
        <div class="row-app">
            <h1 class="page-header">Faktury</h1>
            <a href="{{ path('invoice_create') }}" class="btn-success btn">Dodaj fakturę <i class="glyphicon glyphicon-pencil"></i></a>
        </div>
        <div class="row-app">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        <p></p>{{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('error') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('error') %}
                        <p></p>{{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if invoices is empty %}
            <h3>Brak wystawionych faktur</h3>
        {% else %}
            <div class="row-app col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label for="searchInvoice">Wyszukaj fakturę:</label>
                    <input type="text" name="searchInvoice" class="form-control" id="searchInvoice" placeholder="Szukaj...">
                    <ul id="matchList" class="search-ajax-list">
                    </ul>
                </div>
                <div id="match"></div>
            </div>

            <div class="row-app">
                <table class="table-app col-md-10 col-md-offset-1">
                    <thead class="table-header">
                    <tr class="th-row">

                        <th class="th-id"><p>LP</p></th>
                        <th><p>{{ knp_pagination_sortable(invoices, 'Odbiorca', 'customer') }}</p></th>
                        <th><p>{{ knp_pagination_sortable(invoices, 'Numer faktury', 'id') }}</p></th>
                        <th><p>{{ knp_pagination_sortable(invoices, 'Data wystawienia', 'date_of_issue') }}</p></th>
                        <th class="hidden-xs"><p>Czy zapłacono</p></th>
                        <th class="th-action hidden-xs"><p>Akcje</p></th>

                    </tr>
                    </thead>
                    <tbody class="table-body">
                    {% set lp = 1 %}
                    {% for invoice in invoices %}

                        <tr class="tr-row" data-id="{{ invoice.id }}" data-number="{{ invoice.invoiceNumber }}" data-paid="{{ invoice.paid }}">
                            <td class="td-id"><p>{{ lp }}</p></td>
                            <td><p>{{ invoice.customer }}</p></td>
                            <td><p>{{ invoice.invoiceNumber }}</p></td>
                            <td><p>{{ invoice.dateOfIssue|date('d-m-Y') }}</p></td>
                            <td class="hidden-xs">
                                {% if invoice.paid %}
                                    <p>Zapłacono</p>
                                {% else %}
                                    <p>Nie zapłacono</p>
                                {% endif %}
                            </td>
                            <td class="td-actions hidden-xs">
                                <a href="{{ path('invoice_pdf', {'id': invoice.id}) }}" class="btn btn-success btn-xs">PDF</a>
                                <a href="{{ path('invoice_delete', {'id': invoice.id}) }}" class="btn btn-danger btn-xs" onclick="return confirm('Czy chcesz usunąć fakturę o numerze {{ invoice.invoiceNumber }} ze swojej listy?');">Usuń</a>
                            </td>
                        </tr>
                        {% set lp = lp + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <ul class="context-menu-invoice" id="contextmenu">

        </ul>

        <div class="text-center">
            {{ knp_pagination_render(invoices) }}
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title inline" id="exampleModalLabel">Wyślij fakturę</h3>
                </div>
                <form action="{{ path('invoice_email') }}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="odbiorca-name">Adres e-mail</label>
                            <input class="form-control" type="email" name="odbiorca" id="odbiorca" required="required">
                        </div>
                        <div class="form-group">
                            <label for="customer-name">Temat</label>
                            <input class="form-control" type="text" name="subject" id="subject">
                        </div>
                        <div class="form-group">
                            <label for="customer-city">Treść</label>
                            <textarea class="form-control" type="text" name="body" id="body"></textarea>
                        </div>
                        <input type="hidden" id="invoice_id" name="invoice_id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="send">Wyślij</button>
                        <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/invoice/main.js') }}"></script>
    <script src="{{ asset('js/invoice/ajaxActions.js') }}"></script>
    <script>
        // $('#exampleModal').validationEngine();
    </script>
{% endblock javascript %}