<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %} Web invoice system</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/pdf.css')) }}">
</head>
<body>

    <div class="header">
        <h1>Faktura nr {{ invoice.invoiceNumber }}</h1>
        <div class="desc-info">
            <p>Data sprzedaży: {{ invoice.saleDate|date('d-m-Y') }}</p>
            <p>Data wystawienia: {{ invoice.dateOfIssue|date('d-m-Y') }}</p>
        </div>
    </div>

    <div class="user-customer-container">
        <div class="dealer">
            <h3>Sprzedawca:</h3>
            <p>{{ invoice.user.name }}</p>
            <p>{{ invoice.user.street }}</p>
            <p>{{ invoice.user.zipCode }} {{ invoice.user.city }}</p>
            <p>{{ invoice.user.nip }}</p>
        </div>
        <div class="buyer">
            <h3>Nabywca:</h3>
            <p>{{ invoice.customer.name }}</p>
            <p>{{ invoice.customer.street }}</p>
            <p>{{ invoice.customer.zpiCode }} {{ invoice.customer.city }}</p>
            <p>{{ invoice.customer.nip }}</p>
        </div>
    </div>

    <div class="container">
        <table class="items">
            <thead>
                <tr>
                    <th>LP</th>
                    <th>Nazwa produktu lub usługi</th>
                    <th>Jm</th>
                    <th>Ilość</th>
                    <th>Cena netto</th>
                    <th>VAT</th>
                </tr>
            </thead>
            <tbody>
                {% set lp = 1 %}
                {% for item in invoice.items %}
                <tr>
                    <td>{{ lp }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.netPrice }}</td>
                    <td>{{ item.tax }}</td>
                </tr>
                    {% set lp = lp + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="summary">
            <thead>
                <tr>
                    <th></th>
                    <th>Netto</th>
                    <th>Brutto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Razem</td>
                    <td>{{ invoice.totalNetPrice }}</td>
                    <td>{{ invoice.totalGrossPrice }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        {% if invoice.paymentMethod == 1 %}
            <div>
                <p>Forma płatności: gotówka</p>
                <p>Termin spłaty: {% if invoice.paid == 1 %} zapłacono
                    {% else %} {{ invoice.dateOfPayment|date('d-m-Y') }}
                    {% endif %}
                </p>
            </div>
        {% else %}
            <div>
                <p>Forma płatności: przelew</p>
                <p>Termin spłaty: {% if invoice.paid == 1 %} zapłacono
                    {% else %} {{ invoice.dateOfPayment|date('d-m-Y') }}
                    {% endif %}
                </p>
                <p>Numer konta: {{ invoice.user.accountNumber }}</p>
                <p>Bank: {{ invoice.user.bank }}</p>
            </div>
        {% endif %}
            <div>
                <p><b>Do zapłaty: {{ invoice.totalGrossPrice }} PLN</b></p>
            </div>
    </div>
    <div class="container">
        <span class="left"><span>------------------------------------------------------</span>
            Osoba upoważniona do odbioru</span>
        <span class="right"><span>------------------------------------------------------</span>
            Osoba upoważniona do wystawienia</span>
    </div>



</body>
</html>