{% set page_title = 'Faktura ' ~ invoice.invoiceNumber %}
{% extends 'app_base.html.twig' %}

{% block body %}
    <div class="content-app">
        <div class="header-invoice">
            <h1>Faktura nr {{ invoice.invoiceNumber }}</h1>
            <div class="desc-info">
                <p>Data sprzedaży: {{ invoice.saleDate|date('d-m-Y') }}</p>
                <p>Data wystawienia: {{ invoice.dateOfIssue|date('d-m-Y') }}</p>
            </div>
        </div>

        <div class="user-customer-container">
            <div class="dealer">
                <h3>Sprzedawca:</h3>
                <p>{{ invoice.user.name }}</p>
                <p>{{ invoice.user.street }}</p>
                <p>{{ invoice.user.zipCode }} {{ invoice.user.city }}</p>
                <p>{{ invoice.user.nip }}</p>
            </div>
            <div class="buyer">
                <h3>Nabywca:</h3>
                <p>{{ invoice.customer.name }}</p>
                <p>{{ invoice.customer.street }}</p>
                <p>{{ invoice.customer.zpiCode }} {{ invoice.customer.city }}</p>
                <p>{{ invoice.customer.nip }}</p>
            </div>
        </div>

        <div class="container">
            <table class="items">
                <thead>
                <tr>
                    <th>LP</th>
                    <th>Nazwa produktu lub usługi</th>
                    <th>Jm</th>
                    <th>Ilość</th>
                    <th>Cena netto</th>
                    <th>VAT</th>
                </tr>
                </thead>
                <tbody>
                {% set lp = 1 %}
                {% for item in invoice.items %}
                    <tr>
                        <td>{{ lp }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.netPrice }}</td>
                        <td>{{ item.tax }}</td>
                    </tr>
                    {% set lp = lp + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <table class="summary">
                <thead>
                <tr>
                    <th></th>
                    <th>Netto</th>
                    <th>Brutto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Razem</td>
                    <td>{{ invoice.totalNetPrice }}</td>
                    <td>{{ invoice.totalGrossPrice }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            {% if invoice.paymentMethod == 1 %}
                <div>
                    <p>Forma płatności: gotówka</p>
                    <p>Termin spłaty: {% if invoice.paid == 1 %} zapłacono
                        {% else %} {{ invoice.dateOfPayment|date('d-m-Y') }}
                        {% endif %}
                    </p>
                </div>
            {% else %}
                <div>
                    <p>Forma płatności: przelew</p>
                    <p>Termin spłaty: {% if invoice.paid == 1 %} zapłacono
                        {% else %} {{ invoice.dateOfPayment|date('d-m-Y') }}
                        {% endif %}
                    </p>
                    <p>Numer konta: {{ invoice.user.accountNumber }}</p>
                    <p>Bank: {{ invoice.user.bank }}</p>
                </div>
            {% endif %}
            <div>
                <p><b>Do zapłaty: {{ invoice.totalGrossPrice }} PLN</b></p>
            </div>
        </div>
        <div class="container">
            <div class="row-app">
                <a href="{{ path('invoice_delete', {id: invoice.id}) }}" class="btn btn-danger">Usuń</a>
                <a href="{{ path('invoice_again', {id: invoice.id}) }}" class="btn btn-primary">Wystaw ponownie</a>
                <a href="{{ path('invoice_pdf', {id: invoice.id}) }}" class="btn btn-primary">Pobierz PDF</a>
                <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Wyślij na e-mail</a>
                {% if invoice.paid == 0 %}
                    <a href="{{ path('invoice_paid', {id: invoice.id}) }}" class="btn btn-primary">Oznacz jako zapłacona</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title inline" id="exampleModalLabel">Wyślij fakturę</h3>
                </div>
                <form action="{{ path('invoice_email') }}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="odbiorca-name">Adres e-mail</label>
                            <input class="form-control" type="email" name="odbiorca" id="odbiorca" required="required">
                        </div>
                        <div class="form-group">
                            <label for="customer-name">Temat</label>
                            <input class="form-control" type="text" name="subject" id="subject">
                        </div>
                        <div class="form-group">
                            <label for="customer-city">Treść</label>
                            <textarea class="form-control" type="text" name="body" id="body"></textarea>
                        </div>
                        <input type="hidden" id="invoice_id" name="invoice_id" value="{{ invoice.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="send">Wyślij</button>
                        <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
{% endblock javascript %}