{% set page_title = 'Edycja profilu' %}
{% extends 'app_base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="content-app">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Edycja profilu - {{ app.user.username }}</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        <div class="form-group">
                            {{ form_errors(form.username) }}
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.email) }}
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.name) }}
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.nip) }}
                            {{ form_label(form.nip) }}
                            {{ form_widget(form.nip) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.zipCode) }}
                            {{ form_label(form.zipCode) }}
                            {{ form_widget(form.zipCode) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.city) }}
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.street) }}
                            {{ form_label(form.street) }}
                            {{ form_widget(form.street) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.phone) }}
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.bank) }}
                            {{ form_label(form.bank) }}
                            {{ form_widget(form.bank) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.accountNumber) }}
                            {{ form_label(form.accountNumber) }}
                            {{ form_widget(form.accountNumber) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.current_password) }}
                            {{ form_label(form.current_password, null, {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('js/jquery.validationEngine-pl.js') }}"></script>
    <script>
        $('.fos_user_profile_edit').validationEngine();
    </script>
{% endblock javascript %}