{% set page_title = 'Profil użytkownika' %}
{% trans_default_domain 'FOSUserBundle' %}
{% extends 'app_base.html.twig' %}
{% block fos_user_content %}

    <div class="content-app">
        <div class="col-md-8 col-md-offset-2">

            <table>

            </table>
            <ul class="profile-show-list">
                <li><p>Nazwa użytkownika: <span class="bold">{{ user.username }}</span></p></li>
                <li><p>Nazwa firmy: <span class="bold">{{ user.name }}</span></p></li>
                <li><p>Adres e-mail: <span class="bold">{{ user.email }}</span></p></li>
                <li><p>NIP: <span class="bold">{{ user.nip }}</span></p></li>
                <li><p>Miejscowość: <span class="bold">{{ user.city }}</span></p></li>
                <li><p>Kod pocztowy: <span class="bold">{{ user.zipCode }}</span></p></li>
                <li><p>Ulica: <span class="bold">{{ user.street }}</span></p></li>
                <li><p>Telefon: <span class="bold">{{ user.phone }}</span></p></li>
                <li><p>Nazwa banku: <span class="bold">{{ user.bank }}</span></p></li>
                <li><p>Numer konta bankowego: <span class="bold">{{ user.accountNumber }}</span></li>
            </ul>
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Edycja profilu</a>
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-danger">Zmień hasło</a>
        </div>
    </div>

{% endblock fos_user_content %}