<header class="header" id="home">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{ path('homepage') }}">
                    Faktury
                </a>

            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}

                        <li><a href="{{ path('homepage') }}">Strona główna</a></li>
                        <li><a href="{{ path('application') }}">Aplikacja</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a></li>


                    {% else %}

                        <li><a href="{{ path('homepage') }}">Strona główna</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Logowanie</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Rejestracja</a></li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>