.header {
  background: url("../img/header.jpg");
  height: 100vh;
  width: 100%;
  position: relative;
}

.navbar-inverse{
  li {
    a {
      color: #F6F6F6;
      transition: all 0.7s;
      font-size: 16px;
      &:hover {
        color: #DE1B1B;
        background-color: #F6F6F6;
        .glyphicon-home:before{
          color: #DE1B1B;
        }
      }

      .glyphicon-home:before{
        color: #FFFFFF;
      }

    }
    .dropdown-menu{
      background-color: #222222;
    }
  }
}

.header-desc {
  position: absolute;
  left: 100px;
  bottom: 200px;
  color: #FFFFFF;
  width: 60%;
}

.fos-form{
  margin-top: 150px;
  margin-bottom: 150px;
}