{% trans_default_domain 'FOSUserBundle' %}
{% include 'templates/app/head.html.twig' %}

<div class="container-app">
    {% include 'templates/app/menu.html.twig' %}
    {% block body %}
    {% endblock body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>

<script src="{{ asset('js/javascript.js') }}"></script>
{% block javascript %}
{% endblock javascript %}
</body>
</html>