{% trans_default_domain 'FOSUserBundle' %}

{% include'templates/base/head.html.twig' %}
{% include 'templates/base/fos_header.html.twig' %}

<div class="container">
    <div class="row">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</div>

<script src="{{ asset('js/javascript.js') }}"></script>
{% block javascript %}
{% endblock javascript %}
</body>
</html>
