{% set page_title = 'Dodaj kontrahenta' %}
{% extends 'app_base.html.twig' %}

{% block body %}
    <div class="content-app">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Dodaj kontrahenta</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'attr': { 'id': 'add-form-contractor' } }) }}

                        <div class="form-group">
                            {{ form_errors(form.name) }}
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.nip) }}
                            {{ form_label(form.nip) }}
                            {{ form_widget(form.nip) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.zipCode) }}
                            {{ form_label(form.zipCode) }}
                            {{ form_widget(form.zipCode) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.city) }}
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.street) }}
                            {{ form_label(form.street) }}
                            {{ form_widget(form.street) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.phone) }}
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Dodaj</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    <script src="{{ asset('js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('js/jquery.validationEngine-pl.js') }}"></script>
    <script>
        $('#add-form-contractor').validationEngine();
    </script>
{% endblock javascript %}