{% set page_title = 'Kontrahenci' %}
{% extends 'app_base.html.twig' %}

{% block body %}

    <div class="content-app">
        <div class="row-app">
            <h1 class="page-header">Kontrahenci</h1>
            <a href="{{ path('contractor_create') }}" class="btn-success btn">Dodaj kontrahenta <i class="glyphicon glyphicon-pencil"></i></a>
        </div>
        <div class="row-app">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        <p></p>{{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('error') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('error') %}
                        <p></p>{{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if contractors is empty %}
            <h3>Brak dodanych kontrahentów</h3>
        {% else %}
            <div class="row-app col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label for="searchContractor">Wyszukaj kontrahenta:</label>
                    <input type="text" name="searchProducts" class="form-control" id="searchContractor" placeholder="Podaj nazwę...">
                    <ul id="matchList" class="search-ajax-list">
                    </ul>
                </div>
                <div id="match"></div>
            </div>
            
            <div class="row-app">
                <table class="table-app col-md-10 col-md-offset-1">
                    <thead class="table-header">
                    <tr class="th-row">

                        <th class="th-id"><p>LP</p></th>
                        <th><p class="tooltip2">{{ knp_pagination_sortable(contractors, 'Nazwa', 'name') }}
                                <span class="tooltiptext tooltip-top">Sortuj po nazwie kontrahenta</span>
                            </p>
                        </th>
                        <th><p>NIP</p></th>
                        <th class="hidden-xs"><p class="tooltip2">{{ knp_pagination_sortable(contractors, 'Adres', 'city') }}
                                <span class="tooltiptext tooltip-top">Sortuj po adresie (miejscowość) kontrahenta</span>
                            </p>
                        </th>
                        <th><p>Telefon</p></th>
                        <th class="th-action hidden-xs"><p>Akcje</p></th>

                    </tr>
                    </thead>
                    <tbody class="table-body">
                    {% set lp = 1 %}
                    {% for contractor in contractors %}

                        <tr class="tr-row" data-id="{{ contractor.id }}" data-name="{{ contractor.name }}">
                            <td class="td-id"><p>{{ lp }}</p></td>
                            <td>
                            {% if(contractor.name|length > 50) %}
                                    <p class="tooltip2">{{ contractor.name[:50] }}...
                                        <span class="tooltiptext tooltip-top">{{ contractor.name }}</span>
                                    </p>
                            {% else %}
                                <p>{{ contractor.name }}</p>
                            {% endif %}
                            </td>
                            <td><p>{{ contractor.nip }}</p></td>
                            <td class="hidden-xs">
                                {% if(contractor.getAddress|length > 60) %}
                                    <p class="tooltip2">{{ contractor.getAddress[:60] }}...
                                        <span class="tooltiptext tooltip-top">{{ contractor.getAddress }}</span>
                                    </p>
                                {% else %}
                                    <p>{{ contractor.getAddress }}</p>
                                {% endif %}
                            </td>
                            <td><p>{{ contractor.phone ? contractor.phone : 'Brak danych' }}</p></td>
                            <td class="td-actions hidden-xs">
                                <a href="{{ path('contractor_update', {'id': contractor.id}) }}" class="btn btn-warning btn-xs">Edycja</a>
                                <a href="{{ path('contractor_delete', {'id': contractor.id}) }}" class="btn btn-danger btn-xs" onclick="return confirm('Czy chcesz usunąć {{ contractor.name }} ze swojej listy kontrahentów?');">Usuń</a>
                            </td>
                        </tr>
                        {% set lp = lp + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <ul id="contextmenu">
            <li class="menu-item" id="invoice_create"><i class="glyphicon glyphicon-pencil"></i>Wystaw fakturę</li>
            <li class="menu-item" id="edit"><i class="glyphicon glyphicon-edit"></i>Edycja</li>
            <li class="menu-item" id="delete"><i class="glyphicon glyphicon-trash"></i>Usuń</li>
        </ul>

        <div class="text-center">
            {{ knp_pagination_render(contractors) }}
        </div>
    </div>

{% endblock body %}

{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/contractor/main.js') }}"></script>
    <script src="{{ asset('js/contractor/ajaxActions.js') }}"></script>
{% endblock javascript %}