{% set page_title = 'Kontrahent ' ~ contractor.name %}
{% extends 'app_base.html.twig' %}

{% block body %}
    <div class="content-app">
        <div class="row-app">
            <h1 class="page-header">{{ contractor.name }}</h1>
        </div>
        <div class="row-app">
            <p>Nazwa: <b>{{ contractor.name }}</b></p>
            <p>NIP: <b>{{ contractor.nip }}</b></p>
            <p>Adres: <b>{{ contractor.address }}</b></p>
            <p>Telefon: <b>{{ contractor.phone }}</b></p>
        </div>
        <div class="row-app">
            <a href="{{ path('contractor_update', {id: contractor.id}) }}" class="btn btn-warning">Edycja</a>
            <a href="{{ path('contractor_delete', {id: contractor.id}) }}" class="btn btn-danger">Usuń</a>
            <a href="{{ path('invoice_create', {id: contractor.id}) }}" class="btn btn-primary">Wystaw fakture</a>
        </div>
    </div>

{% endblock body %}

{% block javascript %}
{% endblock javascript %}