{% set page_title = 'Produkty i usługi' %}
{% extends 'app_base.html.twig' %}

{% block body %}
    <div class="content-app">
        <div class="row-app">
            <h1 class="page-header">Produkty i usługi</h1>
            <a href="{{ path('product_create') }}" class="btn btn-success">Dodaj nowy</a>
        </div>
        <div class="row-app">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        <p></p>{{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('error') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('error') %}
                        <p></p>{{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if products is empty %}
            <h3>Brak dodanych produktów/usług</h3>
        {% else %}
            <div class="row-app col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label for="searchProducts">Wyszukaj produkt lub usługę:</label>
                    <input type="text" name="searchProducts" class="form-control" id="searchProducts" placeholder="Podaj nazwę...">
                    <ul id="matchList" class="search-ajax-list">
                    </ul>
                </div>
                <div id="match"></div>
            </div>

            <div class="row-app">
                <table class="table-app col-md-10 col-md-offset-1" id="products-table">
                    <thead class="table-header">
                    <tr class="th-row">

                        <th class="th-id"><p>LP</p></th>
                        <th id="th-product-name"><p class="tooltip2">{{ knp_pagination_sortable(products, 'Nazwa', 'name') }} <span class="tooltiptext tooltip-top">Sortuj po nazwie produktu/usługi</span></p></th>
                        <th><p>Cena netto</p></th>
                        <th class="hidden-xs"><p>VAT</p></th>
                        <th class="th-action hidden-xs"><p>Akcje</p></th>

                    </tr>
                    </thead>

                    <tbody class="table-body">
                    {% set lp = 1 %}
                    {% for product in products %}

                        <tr class="tr-row" data-id="{{ product.id }}">
                            <td class="td-id"><p>{{ lp }}</p></td>
                            {% if(product.name|length > 50) %}
                                <td>
                                    <p class="tooltip2">{{ product.name[:50] }}...
                                        <span class="tooltiptext tooltip-top">{{ product.name }}</span>
                                    </p>
                                </td>
                            {% else %}
                                <td><p>{{ product.name }}</p></td>
                            {% endif %}
                            <td><p>{{ product.price ? product.price : 'Nie ustalono' }}</p></td>
                            <td class="hidden-xs"><p>

                                    {% if product.tax == 0.23 %}
                                        23%
                                    {% elseif product.tax == 0.05 %}
                                        5%
                                    {% elseif product.tax == 0.08 %}
                                        8%
                                    {% else %}
                                        Nie ustalono
                                    {% endif %}

                                    {#{{ product.tax ? product.tax : 'Nie ustalono' }}#}
                                </p></td>
                            <td class="td-actions hidden-xs">
                                <a href="{{ path('product_update', {'id': product.id}) }}" class="btn btn-warning btn-xs">Edycja</a>
                                <a href="{{ path('product_delete', {'id': product.id}) }}" class="btn btn-danger btn-xs" onclick="return confirm('Czy chcesz usunąć {{ product.name }} ze swojej listy produktów i usług?');">Usuń</a>
                            </td>
                        </tr>
                        {% set lp = lp + 1 %}
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        {% endif %}
        <div class="text-center">
            {{ knp_pagination_render(products) }}
        </div>

    </div>
{% endblock body %}

{% block javascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/product/ajaxActions.js') }}"></script>
    <script src="{{ asset('js/product/main.js') }}"></script>
{% endblock javascript %}