{% set page_title = 'Produkty i usługi ' ~ product.name %}
{% extends 'app_base.html.twig' %}

{% block body %}

    <div class="content-app">
        <div class="row-app">
            <h1 class="page-header">{{ product.name }}</h1>
        </div>
        <div class="row-app">
            <p>Nazwa: <b>{{ product.name }}</b></p>


            <p>Cena netto: <b>{{ product.price ? product.price : 'Nie ustalono' }}</b></p>

            <p>Stawka VAT: <b>

                    {% if product.tax == 0.23 %}
                        23%
                    {% elseif product.tax == 0.05 %}
                        5%
                    {% elseif product.tax == 0.08 %}
                        8%
                    {% else %}
                        Nie ustalono
                    {% endif %}

                </b></p>
        </div>
        <div class="row-app">
            <a href="{{ path('product_update', {id: product.id}) }}" class="btn btn-warning">Edycja</a>
            <a href="{{ path('product_delete', {id: product.id}) }}" class="btn btn-danger">Usuń</a>
        </div>
    </div>

{% endblock body %}

{% block javascript %}
{% endblock javascript %}