{% set page_title = 'Edytuj produkt lub usługę' %}
{% extends 'app_base.html.twig' %}

{% block body %}

    <div class="content-app">
        <div class="row-app">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Edytuj produkt lub usługę</h4>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, {'attr': { 'id': 'edit-product-form' } }) }}
                        <div class="form-group">
                            {{ form_errors(form.name) }}
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.price) }}
                            {{ form_label(form.price) }}
                            {{ form_widget(form.price) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.tax) }}
                            {{ form_label(form.tax) }}
                            {{ form_widget(form.tax) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-success btn">Zapisz zmiany</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascript %}
    <script src="{{ asset('js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('js/jquery.validationEngine-pl.js') }}"></script>
    <script>
        $('#edit-product-form').validationEngine();
    </script>
{% endblock javascript %}