*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #636b6f;
  background-color: #F6F6F6;
}

.bold{
  font-weight: 700;
}

.margin-left-5{
  margin-left: 5px;
}

.tooltip2{

  position: relative;
  &:hover{
    .tooltiptext{
      opacity: 100;
      visibility: visible;
    }
  }

  .tooltiptext{
    opacity: 0;
    visibility: hidden;
    border: 2px solid #1C5592;
    background: #c4e3f3;
    color: $black;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    transition: opacity 1s;
  }

  .tooltip-top{
    left: 0;
    bottom: 100%;
  }

}
.width-50{
  width: 50%;
  @media (max-width: 600px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.width-33{
  width: 28%;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}