<nav class="app-nav" id="application-nav">

    <ul>
        <li><a href="{{ path('homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('application') }}">Pulpit</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}">Profil użytkownika</a></li>
        <li><a href="{{ path('invoice_index') }}">Faktury</a></li>
        <li><a href="{{ path('contractor_index') }}">Kontrahenci</a></li>
        <li><a href="{{ path('product_index') }}">Produkty i usługi</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
    </ul>

</nav>
<nav class="mobile-nav" id="application-mobile-nav">

    <button id="hamburger" class="hm-btn"></button>

    <ul id="menu-mobile">
        <li><a href="{{ path('homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('application') }}">Pulpit</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}">Profil użytkownika</a></li>
        <li><a href="{{ path('invoice_index') }}">Faktury</a></li>
        <li><a href="{{ path('contractor_index') }}">Kontrahenci</a></li>
        <li><a href="{{ path('product_index') }}">Produkty i usługi</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
    </ul>

</nav>