{% trans_default_domain 'FOSUserBundle' %}
{% extends 'fos_base.html.twig' %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="fos-form">
                <h3>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>
                {% if targetUrl %}
                    <h3><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}