{% set page_title = 'Rejestracja' %}
{% trans_default_domain 'FOSUserBundle' %}
{% extends 'fos_base.html.twig' %}
{% block fos_user_content %}

    <div class="col-md-8 col-md-offset-2 form-register fos-form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Rejestracja</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="form-group">
                    {{ form_errors(form.username) }}
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'required': false, 'attr': {'class': 'form-control validate[required]', 'placeholder': 'Podaj hasło...'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'required': false, 'attr': {'class': 'form-control validate[required]', 'placeholder': 'Powtórz hasło...'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.nip) }}
                    {{ form_label(form.nip) }}
                    {{ form_widget(form.nip) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.zipCode) }}
                    {{ form_label(form.zipCode) }}
                    {{ form_widget(form.zipCode) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.city) }}
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.street) }}
                    {{ form_label(form.street) }}
                    {{ form_widget(form.street) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.phone) }}
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.bank) }}
                    {{ form_label(form.bank) }}
                    {{ form_widget(form.bank) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.accountNumber) }}
                    {{ form_label(form.accountNumber) }}
                    {{ form_widget(form.accountNumber) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
{% block javascript %}
    <script src="{{ asset('js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('js/jquery.validationEngine-pl.js') }}"></script>
    <script>
        $('.fos_user_registration_register').validationEngine();
    </script>
{% endblock javascript %}