{% set page_title = 'Zmiana hasła' %}
{% extends 'app_base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-heading">
                            <h3>Zmiana hasła</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        <div class="form-group">
                            {{ form_errors(form.current_password) }}
                            {{ form_label(form.current_password) }}
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

{% block javascript %}
    <script src="{{ asset('js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('js/jquery.validationEngine-pl.js') }}"></script>
    <script>
        $('.fos_user_change_password').validationEngine();
    </script>
{% endblock javascript %}