.header{
    width: 80%;
    height: auto;
    padding-bottom: 20px;
    border-bottom: solid #636b6f 1px;
    margin-left: auto;
    margin-right: auto;
}
.header h1{
    text-align: center;
}

.user-customer-container{
    width: 80%;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.user-customer-container .dealer{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}
.user-customer-container .buyer{
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.items{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 280px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}
.summary td{
    min-width: 150px;
}
table th, td{
    border: 1px solid black;
}

.left{
    margin-top: 40px;
    float: left;
    text-align: center;
}
.right {
    margin-top: 40px;
    float: right;
    text-align: center;
}
.left span, .right span{
    display: block;
}
