{% set page_title = 'Logowanie' %}
{% trans_default_domain 'FOSUserBundle' %}
{% extends 'fos_base.html.twig' %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 fos-form">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Logowanie</h3>
                    </div>
                    <div class="panel-body">
                        <div class="has-error">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </div>

                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
                            </div>

                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" class="form-control" id="password" name="_password" required="required" />
                            </div>

                            <div class="form-group">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-warning pull-right">{{ 'layout.register'|trans }}</a>
                            </div>
                            <div>
                                <a href="#">Zapomniałeś hasła?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock fos_user_content %}