{% set page_title = 'Strona główna aplikacji' %}
{% extends 'app_base.html.twig' %}

{% block body %}

    <div class="content-app">
        <div class="row-app">
            <h1 class="page-header">Witaj {{ app.user.username }}</h1>
            <div class="col-md-12">
                <h3>Aktualnie masz zarejestrowanych
                    {% for p in products %}
                       <b>{{ p.products }}</b>
                    {% endfor %}
                    produktów</h3>
            </div>
            <div class="col-md-12">
                <h3>Aktualnie masz zarejestrowanych
                {% for c in contractors %}
                    <b>{{ c.contractors }}</b>
                {% endfor %}
                kontrahentów</h3>
            </div>
            <div class="col-md-12">
                <h3>Wystawiłeś już
                {% for i in invoices %}
                    <b>{{ i.invoices }}</b>
                {% endfor %}faktur</h3>
            </div>
        </div>
    </div>

{% endblock body %}