{% extends 'base.html.twig' %}

{% block body %}

    <div class="header-desc col-md-12 page-header">
        <h1>Internetowy system do wystawiania faktur</h1>
        <h3>Dawid Sikorski</h3>
    </div>

{% endblock body %}