.container-app {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  background: $bg-app-container;

  .content-app{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    width: 80%;
    min-height: 100vh;

    @media (max-width: $screen-md-min) {
      width: 90%;
      table{
        width: 100%;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 50px;
    }

    @media (max-width: $screen-sm-max + 1px) {
      margin-top: 50px;
    }

    .row-app{
      margin-top: 15px;
      margin-bottom: 15px;
    }

  }
}

.search-ajax-list{
  list-style: none;
  background: $bg-ajax-list;

  li{
    padding: 5px;
    border: 1px solid $black;
    color: $black;
  }

}

#contextmenu{
  position: absolute;
  display: none;
  list-style: none;
  background: $white;
  color: $black;
  width: 150px;
  border-radius: 6px;
  border: 1px $black solid;

  li{
    border-bottom: 1px #cccccc solid;
    text-align: center;
    padding: 5px;

    &:hover{
      background: #cccccc;
      cursor: pointer;
    }

  }

}