.content-app{

  #add-form-invoice{

    #add-item{
      margin-bottom: 10px;
    }

    .form-search{
      width: 60%; 
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .only-read-form{
      width: 50%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .inline-input {
      width: 100%;
      min-height: 50px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: 600px) {
        display: block;
      }

    }

    .form-select{
      padding: 6px;
      border-radius: 4px;
    }

    .item-div{
      #appbundle_invoice_items_0{
        .btn-remove-item{
          display: none;
        }
      }
      margin-bottom: 15px;
      position: relative;

      .btn-remove-item{
        left: 360px;
        bottom: 5px;
      }

      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        margin-bottom: 5px;
        //input do wyszukiwania kontrahenta na formatce tworzenia faktury
        div{
          display: inline-grid;
          &:first-child{
            width: 100%;
            display: block;
            .form-search{
              width: 100%;
            }
          }
          .invoice-item{
            height: 34px;
            padding: 6px 6px;
            font-size: 14px;
            line-height: 1.42857;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            
          }
          .amount{
            width: 70px;
            margin-left: 10px;
          }
          .unit{
            width: 70px;
          }
          .tax{
            margin-left: 10px;
          }

        }

      }
    }

  }

  .header-invoice{
    text-align: center;
  }

  .user-customer-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .container{
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 600px) {
      width: 100%;
      padding: 0;
      table{
        th, td{
          padding: 3px;
        }
      }
    }

    .row-app{
      a{
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
  .items{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    //overflow-x: auto;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;

    th{
      text-align: center;
    }

    th, td {
      border: 1px solid black;
    }

  }
  .summary {
    td{
      @media (min-width: 992px){

        min-width: 150px;
      }

    }
  }
}