.app-nav {
  @media (max-width: $screen-md-min) {
    display: none;
  }
  background: $bg-app-nav;
  width: 220px;
  text-align: center;

  ul{
    margin-top: 50px;
    list-style: none;

    li{
      background: $bg-app-nav;
      padding: 10px;
      margin-bottom: 3px;
      transition: all, 0.7s;
      &:hover {
        background: $white;
        a{
          color: $bg-app-nav;
        }
      }
      a{
        padding: 10px 20px;
        color: $white;
        font-size: 1.6rem;
        text-decoration: none;
        transition: all, 0.7s;
        &:hover {
          color: $bg-app-nav;
        }
      }
    }
  }
}
.mobile-nav{
  display: none;
  @media (max-width: $screen-md-min) {

    background: $bg-app-nav;
    display: block;
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;

    ul{
      display: none;
      background: $bg-app-nav;
      width: 100%;
      padding-top: 10px;
      z-index: 999;
      position: absolute;
      text-align: center;
      li{
        background: $bg-app-nav;
        padding: 10px;
        margin-bottom: 3px;
        transition: all, 0.7s;
        &:hover {
          background: $white;
          a{
            color: $bg-app-nav;
          }
        }
        a{
          padding: 10px 20px;
          color: $white;
          font-size: 1.6rem;
          text-decoration: none;
          transition: all, 0.7s;
          &:hover {
            color: $bg-app-nav;
          }
        }
      }

    }

    .hm-btn{
      border: none;
      width: 30px;
      height: 18px;
      border-top: 5px solid #FFFFFF;
      background: transparent;
      position: relative;
      margin-top: 13px;
      margin-left: 22px;
      margin-bottom: 19px;
      transition: 0.3s transform linear;

      &:after, &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid #FFFFFF;
        transform: translateY(5px);

      }
      &:after{
        transform: translateY(15px);
      }
    }
  }
}