.btn-user {
  background-color: rgb(176, 0, 0);
  color: #F6F6F6;
  border: none;
  box-shadow: none;
  padding: 16px 12px;
  transition: all 0.7s;
  transition: all 0.7s;
  &:hover{
    background: #FFFFFF;
    .glyphicon-user:before {
      color: rgb(176, 0, 0);
    }
    color: rgb(176, 0, 0);
  }

  .glyphicon-user:before {
    color: #FFFFFF;
  }
}
.btn-form-admin{
  margin-top: 15px;
  margin-bottom: 30px;
}