.table-app{
  .table-header{

    th{
      background: $bg-gray;
      color: $white;
      border: 1px solid $black;
      p{
        margin: 0;
        padding: 0 10px;
        font-weight: bold;

      }
      #p-product-name{
        cursor: pointer;
      }
      .p-arrow-down{

      }

      .p-arrow-up{

      }

    }

    .th-id{
      background: $bg-th-id;
      width: 20px;
      height: 20px;
      padding: 10px;
      color: $white;
      text-align: center;
      p{
        padding: 0;
      }
    }

    .th-action {
      text-align: center;
      width: 110px;
    }

  }

  .table-body{


    .tr-row{
      transition: all 0.5s;
      &:hover{
        background: #C0C1DA;
      }

      td{
        border: 1px solid $black;
        p{
          padding: 5px;
          margin: 0;
          color: $black
        }
      }

      .td-id{
        background: $bg-gray;
        p{
          text-align: center;
          color: $white;
          font-weight: bold;
        }
      }

      .td-actions{
        padding: 5px 0;
        text-align: center;
      }

    }

  }
}